.toolbar {
  font-size: 30px;
  font-family: 'Raleway';
  padding-right: 20px
}

.toolbar-button {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.toolbar-contents Button.light{
    background-color: white !important;
}

.toolbar{
    float: left;
}

a.light {
  color: #000000 !important;
  text-decoration: none !important;
}

a.primary {
  color: #ffffff !important;
  text-decoration: none !important;
}

a:hover 
{
   color:#ffffff; 
   text-decoration:none; 
   cursor:pointer;  
}

.header{
    background-color: white;
    padding:10px 25px 10px 25px;
    border-bottom: gray;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25) !important;
}

.main{
  margin-top:20px;
}